/*
  Note : Consumer key/secret are secret, so I can't write
  them here.

  You need to copy this file to DropboxSecret.h and set
  your consumer key/secret to build the application.
*/

#if FREE_VERSION
#define DROPBOX_APP_KEY @"uibif0dvic8jiv8"
#define DROPBOX_APP_SECRET @""
#else
#define DROPBOX_APP_KEY @"l3kwbhrw695lm4t"
#define DROPBOX_APP_SECRET @""
#endif
