/*
  Note : Consumer key/secret are secret, so I can't write
  them here.

  You need to copy this file to DropboxSecret.h and set
  your consumer key/secret to build the application.
*/

#define DROPBOX_APP_KEY	@""
#define	DROPBOX_APP_SECRET	@""
